<?xml version="1.0" ?>

<robot name="xacro_properties" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <!-- Constant -->
  <!-- <xacro:property name="color_silver"> -->
    <material name="silver">
      <color rgba="0.700 0.700 0.700 1.000"/>
    </material>
  <!-- </xacro:property> -->

</robot>
