<launch>
  <!-- Argument -->
  <arg name="model" default="$(find umrobot_description)/urdf/umrobot.xacro"/>
  <arg name="world" default="NURI_3rd_2" />
  <arg name="x_pos" default="0.0" />
  <arg name="y_pos" default="0.0" />
  <arg name="z_pos" default="0.0" />
  <arg name="yaw" default="0.0" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

  <!-- Spawn model -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" 
        args="-urdf -model $(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw) -param robot_description"/>

  <!-- gazebo launch -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  <arg name="world_name" value="$(find umrobot_description)/worlds/$(arg world).world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <arg name="rviz" default="false"/>
  <group if="$(arg rviz)">
    <!-- RViz -->
    <node pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" output="screen" args="-d $(find umrobot_description)/rviz/gazebo_default.rviz" />

    <!-- State publisher -->
    <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" />
    <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" output="screen" >
      <param name="publish_frequency" type="double" value="50.0" />
    </node>
  </group>

</launch>